@page
@model IndexModel
@{
    ViewData["Title"] = "Bye Bye Infrastructure";
}

<div>
    <h1>BASTA! 2018: Service Fabric Mesh</h1>

    <div id="messages"></div>
</div>
<script type="text/javascript">
    function startCook() { 
        websocket = new WebSocket("ws://" + window.location.host + "/data");

        websocket.onopen = function () { };

        websocket.onmessage = function (args) {
            var div = document.getElementById('messages');
            div.innerHTML = (args.data + '<hr>' + div.innerHTML).substring(0,6000);
        };

        websocket.onclose = function (args) {
            
        };

        websocket.onerror = function (error) {
            websocket.close();
        }
    }
    startCook();
</script>